h1{
text-align:center!important;
color:white;
margin:0 auto;
}

h2{

margin-bottom: 20px;
margin-top: 50px;
}

h3{
margin-bottom: 20px;
margin-top: 40px;
}


td{
	width: 200px;
}

nav{
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.685);
}

tr:hover{
	background-color:rgb(242, 245, 248);
}

.weather h3{
	margin-top:30px;
	margin-bottom:30px;
}

.form-control{
	
	margin-left:10px;
	
	margin-bottom:10px;
}

button{
	margin-left:10px;
}

.box{
	max-width: 50%;
	margin:0 auto;
	margin-top:70px;
	margin-bottom: 100px;
}

.weather{
	display:none;
}

#searchByLatLon{
	display:none;
}

img{
	width:30px;
	height:30px;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width:100%;
	height:50px;
	box-shadow: 0 -3px 5px 1px rgba(0, 0, 0, 0.685);

}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 50px;    /* Footer height */
  }
 
  #loaderWeather, #loaderCoord  {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1.5s linear infinite;
	margin:0 auto;
	margin-top: 50px;
	display:none;
  }

  #loaderCoord{
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	width: 20px!important;
	height: 20px!important;
	margin-left: 20px;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }



