*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

nav {

    background-color: rgb(65, 62, 62);

}

nav li{
    display:inline-block;

    line-height:80px;
}



nav a, .dropdown{
    color:white;
    

}

nav li, .dropdown{
    padding:20px 20px 20px 20px;
    margin-right:20px;
    height: 100%;
}

nav li:hover, .dropdown:hover{
    background-color:rgb(110, 109, 109);
    transition: 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdownList {
    display: block;
  }

  .dropdownList a{
      display: block;
      color: red;
  }
